<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/restaurants/modify_item.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/restaurants/restaurant_navbar.css') }}">
    <script src="{{ url_for('static', filename='js/restaurants/modify_item.js') }}"></script>
    <title>餐廳資訊</title>
</head>
<body>
    <!-- 頂部導航欄 -->
    <header class="navbar">
        <!-- 左側LOGO和標題 -->
        <a href="{{ url_for('menus.view_menu', restaurant_id=restaurant_id) }}" class="logo">
            <img src="{{ url_for('static', filename='images/NCUlogo.png') }}" alt="LOGO"> <!-- 替換為LOGO的URL -->
            <span>NCU Campus Eats | 餐點資訊</span>
        </a>

        <!-- 右側按鈕與下拉選單 -->
        <div class="menu">
            <a href="{{ url_for('restaurants.view_order') }}" >
                <button class="order-button">訂單管理</button>
            </a>
            <div class="dropdown">
                {% if icon %}
                <img src="{{ url_for('static',filename=icon) }}" alt="店家Icon"> <!-- 替換為店家Icon的URL -->
                {% endif %}
                <span>{{ restaurant_name }}</span>
                <div class="dropdown-menu">
                    <a href="{{ url_for('restaurants.view_store_info') }}">餐廳資料</a>
                    <a href="{{ url_for('restaurants.view_history_order') }}">歷史訂單</a>
                    <a href="{{ url_for('auth.change_password') }}">修改密碼</a>
                    <a href="{{ url_for('auth.logout') }}">登出</a>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <h2>餐點資訊</h2>
        <form action="{{ url_for('restaurants.modify_item', item_id=item_id) }}" method="post" enctype="multipart/form-data" onsubmit="return validateModifyItemForm()">
            <label for="item_name">餐點名稱：</label>
            <input type="text" id="item_name" name="item_name" value="{{ item_name }}" required>

            <label for="price">餐點價格：</label>
            <input type="number" id="price" name="price" value="{{ price }}" required>

            <label for="description">餐點描述：</label>
            <input type="text" id="description" name="description" value="{{ description }}">

            <label for="status">餐點狀態(0停售、1販售中)：</label>
            <input type="number" id="status" name="status" value="{{ status }}" required>

            <label for="item_image">目前的餐點圖片：</label>
            {% if icon %}
            <img src="{{ url_for('static', filename=item_image) }}" alt="餐點圖片">
            {% endif %}

            <label for="item_image">更新餐點圖片：</label>
            <input type="file" id="item_image" name="item_image" accept="image/*">

            <button type="submit" class="btn-submit">修改</button>
        </form>
    </div>

</body>
</html>
