<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/restaurants/restaurant_navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/restaurants/view_history_order.css') }}">
    <script src="{{ url_for('static', filename='js/restaurants/view_history_order.js') }}"></script>
    <title>訂單管理</title>
</head>
<body>
    <!-- 頂部導航欄 -->
    <header class="navbar">
        <!-- 左側LOGO和標題 -->
        <a href="{{ url_for('menus.view_menu', restaurant_id=restaurant_id) }}" class="logo">
            <img src="{{ url_for('static', filename='images/NCUlogo.png') }}" alt="LOGO"> <!-- 替換為LOGO的URL -->
            <span>NCU Campus Eats | 歷史訂單</span>
        </a>

        <!-- 右側按鈕與下拉選單 -->
        <div class="menu">
            <a href="{{ url_for('restaurants.view_order') }}" >
                <button class="order-button">訂單管理</button>
            </a>
            <div class="dropdown">
                {% if icon %}
                <img src="{{ url_for('static',filename=icon) }}" alt="店家Icon"> <!-- 替換為店家Icon的URL -->
                {% endif %}
                <span>{{ restaurant_name }}</span>
                <div class="dropdown-menu">
                    <a href="{{ url_for('restaurants.view_store_info') }}">餐廳資料</a>
                    <a href="{{ url_for('restaurants.view_history_order') }}">歷史訂單</a>
                    <a href="{{ url_for('auth.change_password') }}">修改密碼</a>
                    <a href="{{ url_for('auth.logout') }}">登出</a>
                </div>
            </div>
        </div>
    </header>
    <div id="orderData" data-history='{{ history_order | tojson }}' style="display:none;"></div>
    <div class="content">
        {% for order_id, order_data in history_order.items() %}
            <div class="order-section">
                <p><strong>訂單編號：</strong>{{ order_id }}</p>
                <p><strong>顧客ID：</strong>{{ order_data['customer_id'] }}</p>
                <p><strong>下單時間：</strong>{{ order_data['order_time'] }}</p>
                <p><strong>預定取餐時間：</strong>{{ order_data['order_pick_up_time'] }}</p>
                <p><strong>訂單備註：</strong>{{ order_data['order_note'] }}</p>
                <p><strong>總金額：</strong>{{ order_data['total_amount'] }} 元</p>
                <div class="action-buttons">
                    <button class="button view-button" onclick="openModal('{{ order_id }}')">訂單明細</button>
                </div>
            </div>
        {% endfor %}
    </div>

    <!-- 模態視窗 -->
    <div id="orderModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <h3>訂單詳細資料</h3>
            <div id="modalDetails">
                <!-- 訂單詳細資料將顯示在這裡 -->
            </div>
        </div>
    </div>

</body>
</html>