body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
    text-align: center;
    margin-top: 100px;
}

.button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
}

.button:hover {
    background-color: #0056b3;
}

.form-container { 
    display: none;
    opacity: 1;
    transition: opacity 0.3s ease;
    margin-top: 20px;
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* 可以保持輕微陰影 */
    max-width: 550px;
    width: 100%;
    text-align: center;
    max-height: 80vh; /* 限制容器最大高度 */
    overflow-y: auto; /* 啟用垂直滾動 */
}

.form-container.active {
    display: block;
    opacity: 1;
}

input[type="text"], input[type="password"], input[type="email"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #218838;
}

.flashes {
    list-style: none;
    padding: 0;
    color: red;
}